---
import FastLoadingComponent from "@/components/FastLoadingComponent.astro";
import Layout from "@/components/layouts/Layout.astro";
import ReactButton from "@/components/ReactButton";
import SlowLoadingComponent from "@/components/SlowLoadingComponent.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("newsletter");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
    metadata={{
        description: post.data.description,
        title: post.data.title,
    }}
>
    <meta content={post.data.author} name="author" slot="head-meta" />

    <article class="col-[content]">
        <h1 class="text-5xl">{post.data.title}</h1>
        <Content />
        <ReactButton className="bg-amber-200" client:load>The text button</ReactButton>
        <SlowLoadingComponent server:defer> <FastLoadingComponent slot="fallback" /> </SlowLoadingComponent>
    </article>
</Layout>
