---
import { getCollection } from "astro:content";

interface Props {
    class?: string;
}

const articles = await getCollection("articles")
const sortedArticles = articles.toSorted((a, b) => b.data.created.getTime() - a.data.created.getTime());
---

<ol class:list={[Astro.props.class]}>
    {sortedArticles.map(( article ) => {
            return (
                <li class="has-aria-[current='page']:text-blue-300">
                    <a
                        aria-current={Astro.url.pathname.startsWith(article.id) ? "page" : undefined}
                        href={article.id}
                    >
                        {article.data.title}
                    </a>
                </li>
            );
        })}
</ol>
