---
import SpeedInsights from "@vercel/speed-insights/astro";
import "src/global.css";

interface Props {
    metadata: {
        title: string;
        description?: string | undefined;
    };
}

const {
    metadata: { title, description },
} = Astro.props;
---

<html lang="en">
    <head>
        <slot name="head-start" />
        <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
        <link href="/sitemap-index.xml" rel="sitemap" />
        <title>{title}</title>
        <meta charset="utf-8" />
        <meta content="width=device-width" name="viewport" />
        <meta content={Astro.generator} name="generator" />
        {description ? <meta content={description} name="description" /> : null}
        <slot name="head-meta" />

        <slot name="head-end" />
    </head>
    <body
        class="grid min-h-screen grid-cols-(--primary-grid-template-columns) grid-rows-[auto_1fr_auto] gap-x-(--primary-grid-column-gap)"
    >
        <slot name="header">
            <header class="col-breakout grid grid-cols-subgrid bg-amber-400">
                <nav class="col-content flex flex-row place-content-between gap-4">
                    <div class="flex flex-row gap-8">
                        <p>Logo</p>
                    </div>
                    <div class="flex flex-row items-center gap-8">
                        <p>Søk</p>
                    </div>
                </nav>
            </header>
        </slot>
        <main class="col-breakout grid grid-cols-subgrid">
            <slot />
        </main>
        <slot name="footer">
            <footer class="col-breakout grid grid-cols-subgrid bg-fuchsia-300">
                <nav class="col-content grid grid-cols-3">
                    <p>Kundeservice</p>
                    <p>Noe annet</p>
                    <p>Enda mer greier</p>
                </nav>
            </footer>
        </slot>
        <SpeedInsights />
    </body>
</html>
