---
import SpeedInsights from "@vercel/speed-insights/astro";
import "src/global.css";

interface Props {
    metadata: {
        title: string;
        description?: string | undefined;
    };
}

const {
    metadata: { title, description },
} = Astro.props;
---

<html lang="en">
    <head>
        <slot name="head-start" />
        <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
        <link href="/sitemap-index.xml" rel="sitemap" />
        <title>{title}</title>
        <meta charset="utf-8" />
        <meta content="width=device-width" name="viewport" />
        <meta content="light" name="color-scheme"/>
        {description && (
            <meta content={description} name="description" />
            <meta property="og:description" content={description}/>
        )}
        <slot name="head-meta" />

        <slot name="head-end" />
    </head>
    <body
        class="grid min-h-screen grid-cols-(--primary-grid-template-columns) grid-rows-[auto_1fr_auto] gap-x-(--primary-grid-column-gap) bg-stone-200"
    >
        <slot name="header">
            <header class="col-breakout grid h-12 grid-cols-subgrid items-center bg-stone-400 px-4">
                <a href="/" class="text-primary">&lt;KC&gt;</a>
            </header>
        </slot>
        <main class="col-breakout grid grid-cols-subgrid">
            <slot />
        </main>
        <slot name="footer">
            <footer class="col-breakout grid h-12 content-center justify-items-end bg-stone-400 px-4">
                    <pre class="text-primary">&lt;KC&#47;&gt;</pre>
            </footer>
        </slot>
        <SpeedInsights />
    </body>
</html>
