---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ReactButton from '../../components/ReactButton';
import SlowLoadingComponent from '../../components/SlowLoadingComponent.astro';
import FastLoadingComponent from '../../components/FastLoadingComponent.astro';

export async function getStaticPaths() {
  const posts = await getCollection('newsletter');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
	<meta name="author" content={post.data.author} slot="head-meta" />

	<h1 class="text-5xl">{post.data.title}</h1>
	<Content />
	<ReactButton className='bg-amber-200' client:load>
		The text button
	</ReactButton>
	<SlowLoadingComponent server:defer>
		<FastLoadingComponent slot="fallback">Default</p>
	</SlowLoadingComponent>
</Layout>
