---
import Layout from "@/components/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allWeeks = await getCollection("newsletter");
---

<Layout title="Newsletter | Kenny's Corner">
    <nav class="" slot="header"></nav>
    <ol>
        {
            allWeeks.map((post) => {
                return (
                    <li transition:name={post.id}>
                        <a href={`/newsletter/${post.id}`}>{post.data.title}</a>
                    </li>
                );
            })
        }
    </ol>
    <nav slot="footer">New footer</nav>
</Layout>
