---
import { getCollection } from "astro:content"

const allWeeks = await getCollection("newsletter")
---

<head>
	<title>Newsletter | Kenny's Corner</title>
</head>
<body>
<ol>
{allWeeks.map(x => {
	return <li>
		<a href={`/newsletter/${x.id}`}>{x.id}</a>
	</li>
})}
</ol>
</body>

