---
import Layout from "@/components/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allWeeks = await getCollection("newsletter");
---

<Layout
    metadata={{
        title: "Newsletter | Kenny's Corner",
    }}
>
    <nav slot="header">New header</nav>
    <ol>
        {
            allWeeks.map((post) => {
                return (
                    <li>
                        <a href={`/newsletter/${post.id}`}>{post.data.title}</a>
                    </li>
                );
            })
        }
    </ol>
    <nav slot="footer">New footer</nav>
</Layout>
