---
import Layout from "@/components/Layout.astro";
---

<Layout
    metadata={{
        title: "Kenny's Corner",
    }}
>
    <main class="col-content prose py-4">
        <a href="/curios">Curios</a>
    </main>
</Layout>
