---
import Layout from "@/components/Layout.astro";

const title = "Kenny's Corner";
---

<Layout
    seo={{
        title: title,
        canonical: Astro.url,
    }}
>
    <main class="col-content prose py-4">
        <a href="/curios">Curios</a>
    </main>
</Layout>
