---
import Layout from "@/components/Layout.astro";
import { Badge } from "@/components/ui/badge";
const title = "My Resumé | Kenneth Hoff";
const description = "A quick-and-dirty resumé written in English";
---

<Layout seo={{
    title: title,
    description: description,
    openGraph: {
        basic: {
            title: title,
            type: 'profile',
            image: "/profile.jpg",
            url: Astro.url,
        },
        article: {
            authors: ["Kenneth Hoff"],
            modifiedTime: "2025-04-08",
        },
        image: {
            url: "/profile.jpg",
            type: "image/jpeg"
        },
        optional: {
            siteName: "Kenny's Corner",
            description: description,
        },
    },
    canonical: Astro.url,
    twitter: {
        title: title,
        description: description,
        card: "summary",
        creator: "Kenneth Hoff",
        image: "/profile.jpg",
    },
}}>
    <header slot="header" class="col-breakout flex h-12 place-content-between items-center bg-stone-400 px-4" >
        <a href="/" class="text-primary">&lt;KC&gt;</a>
        <p class="italic">Quick-and-dirty resumé // 🇳🇴 Norwegian version coming soon</p>
    </header>

    <main class="col-content prose py-4 justify-self-center">
        <h1>My Resumé</h1>

        <article aria-labelledby="job-current-employer" itemscope itemtype="https://schema.org/EmployeeRole">
            <div itemprop="provider" itemscope itemtype="https://schema.org/Organization">
                <h2 id="job-current-employer" itemprop="name"><a href="https://www.oxx.no">OXX</a></h2>
            </div>

            <p>
                <span>
                    <strong>Dates:</strong>
                    <time datetime="2021" itemprop="startDate">2021</time> - today
                </span>
                <br>
                <span>
                    <strong>Role:</strong>
                    <span itemprop="roleName">Full-stack developer</span>
                </span>
            </p>

            <h3 class="mt-4 border-t pt-4">Key Projects</h3>

            <div class="flex flex-col">
                <section class="mt-2 mb-4" aria-labelledby="project-helgeland" itemscope itemtype="https://schema.org/CreativeWork">
                    <h4 id="project-helgeland" class="text-xl font-semibold" itemprop="name">Helgeland Kraft - Website</h4>
                    <ul itemprop="description">
                        <li>Primary responsibility for developing and maintaining integrations with internal and external systems</li>
                    </ul>
                    <dl>
                        <dt>Core technologies</dt>
                        <dd class="inline" itemprop="keywords"><Badge>Nextjs</Badge></dd>
                        <dd class="inline" itemprop="keywords"><Badge>TypeScript</Badge></dd>
                        <dd class="inline" itemprop="keywords"><Badge>Sanity CMS</Badge></dd>
                        <dd class="inline" itemprop="keywords"><Badge>Microsoft Azure</Badge></dd>
                        <dd class="inline" itemprop="keywords"><Badge>ASP.Net Core</Badge></dd>
                    </dl>
                </section>

                <section class="mt-2 mb-4" aria-labelledby="project-tensio" itemscope itemtype="https://schema.org/CreativeWork">
                    <h4 id="project-tensio" class="text-xl font-semibold" itemprop="name">Tensio/Linea - Website and Web portal</h4>
                    <ul itemprop="description">
                        <li>Primary responsibility for developing and maintaining integrations with internal and external systems</li>
                    </ul>
                    <dl>
                        <dt>Core technologies</dt>
                        <dd class="inline" itemprop="keywords"><Badge>C#</dd>
                        <dd class="inline" itemprop="keywords"><Badge>Microsoft Azure</dd>
                        <dd class="inline" itemprop="keywords"><Badge>ASP.Net Core</dd>
                        <dd class="inline" itemprop="keywords"><Badge>Nextjs</dd>
                        <dd class="inline" itemprop="keywords"><Badge>TypeScript</dd>
                        <dd class="inline" itemprop="keywords"><Badge>Sanity CMS</dd>
                        <dd class="inline" itemprop="keywords"><Badge>Redis</dd>
                    </dl>
                </section>

                <section class="mt-2 mb-4" aria-labelledby="project-hef-konfirmasjon" itemscope itemtype="https://schema.org/CreativeWork">
                    <h4 id="project-hef-konfirmasjon" class="text-xl font-semibold" itemprop="name">Human-Etisk Forbund - "Konfirmasjon" sign-up form</h4>
                    <ul itemprop="description">
                        <li>Integrating with third-party system</li>
                        <li>Creating a conditional multi-step form</li>
                        <li>Huge traffic at the start of May</li>
                    </ul>
                    <dl>
                        <dt>Core technologies</dt>
                        <dd class="inline" itemprop="keywords"><Badge>VueJS</dd>
                        <dd class="inline" itemprop="keywords"><Badge>TailwindCSS</dd>
                        <dd class="inline" itemprop="keywords"><Badge>TypeScript</dd>
                        <dd class="inline" itemprop="keywords"><Badge>C#</dd>
                        <dd class="inline" itemprop="keywords"><Badge>ASP.Net Core</dd>
                        <dd class="inline" itemprop="keywords"><Badge>Entity Framework Core</dd>
                    </dl>
                </section>

                <section class="mt-2 mb-4" aria-labelledby="project-hef-internal" itemscope itemtype="https://schema.org/CreativeWork">
                    <h4 id="project-hef-internal" class="text-xl font-semibold" itemprop="name">Human-Etisk Forbund - internal system for managing ceremonies</h4>
                    <dl>
                        <dt>Core technologies</dt>
                        <dd class="inline" itemprop="keywords"><Badge>C#</dd>
                        <dd class="inline" itemprop="keywords"><Badge>Entity Framework Core</dd>
                        <dd class="inline" itemprop="keywords"><Badge>ASP.Net Core</dd>
                        <dd class="inline" itemprop="keywords"><Badge>TypeScript</dd>
                        <dd class="inline" itemprop="keywords"><Badge>KnockoutJS</dd>
                    </dl>
                </section>
            </div>
        </article>
    </main>
</Layout>
