---
import Layout from "@/components/Layout.astro";
---

<Layout metadata={{
    title: "My Resumé | Kenneth Hoff",
    description: "A quick-and-dirty resumé written in English",
    image: "/profile.jpg"
}}>
    <header slot="header" class="col-breakout flex h-12 place-content-between items-center bg-stone-400 px-4" >
        <a href="/" class="text-primary">&lt;KC&gt;</a>
        <p class="italic">Quick-and-dirty resumé // 🇳🇴 Norwegian version coming soon</p>
    </header>

    <main class="col-content prose py-4">
        <h1>My Resumé</h1>

        <article aria-labelledby="job-helgeland" itemscope itemtype="https://schema.org/EmployeeRole">
            <h2 id="job-helgeland" class="text-2xl">Helgeland Kraft - Website</h2>

            <p>
                <span>
                    <strong>Dates:</strong>
                    <time datetime="2025" itemprop="startDate">2025</time> - today
                </span>
                <br>
                <span>
                    <strong>Role:</strong>
                    <span itemprop="roleName">Full-stack developer</span>
                </span>
            </p>
            <ul itemprop="description">
                <li>Primary responsibility for developing and maintaining integrations with internal and external systems</li>
                <li>Heavily based upon a prior project colloquially called "Tensio/Linea"</li>
            </ul>
            <dl>
                <dt>Core technologies</dt>
                <dd itemprop="skills">Nextjs</dd>
                <dd itemprop="skills">TypeScript</dd>
                <dd itemprop="skills">Sanity CMS</dd>
                <dd itemprop="skills">Microsoft Azure</dd>
                <dd itemprop="skills">ASP.Net Core</dd>
            </dl>
        </article>

        <article aria-labelledby="job-tensio" itemscope itemtype="https://schema.org/EmployeeRole">
            <h2 id="job-tensio" class="text-2xl">Tensio/Linea - Website and Web portal</h2>

            <p>
                <span>
                    <strong>Dates:</strong>
                    <time datetime="2023" itemprop="startDate">2023</time> - today
                </span>
                <br>
                <span>
                    <strong>Role:</strong>
                    <span itemprop="roleName">Full-stack developer</span>
                </span>
            </p>
            <ul itemprop="description">
                <li>Primary responsibility for developing and maintaining integrations with internal and external systems</li>
            </ul>
            <dl>
                <dt>Core technologies</dt>
                <dd itemprop="skills">C#</dd>
                <dd itemprop="skills">Microsoft Azure</dd>
                <dd itemprop="skills">ASP.Net Core</dd>
                <dd itemprop="skills">Nextjs</dd>
                <dd itemprop="skills">TypeScript</dd>
                <dd itemprop="skills">Sanity CMS</dd>
                <dd itemprop="skills">Redis</dd>
            </dl>
        </article>

        <article aria-labelledby="job-hef-konfirmasjon" itemscope itemtype="https://schema.org/EmployeeRole">
            <h2 id="job-hef-konfirmasjon" class="text-2xl">Human-Etisk Forbund - "Konfirmasjon" sign-up form</h2>

            <p>
                <span>
                    <strong>Dates:</strong>
                    <time datetime="2022" itemprop="startDate">2022</time> - <time datetime="2023" itemprop="endDate">2023</time>
                </span>
                <br>
                <span>
                    <strong>Role:</strong>
                    <span itemprop="roleName">Full-stack developer</span>
                </span>
            </p>
            <ul itemprop="description">
                <li>Integrating with third-party system</li>
                <li>Creating a conditional multi-step form</li>
                <li>Huge traffic at the start of May</li>
            </ul>
            <dl>
                <dt>Core technologies</dt>
                <dd itemprop="skills">VueJS</dd>
                <dd itemprop="skills">TailwindCSS</dd>
                <dd itemprop="skills">TypeScript</dd>
                <dd itemprop="skills">C#</dd>
                <dd itemprop="skills">ASP.Net Core</dd>
                <dd itemprop="skills">Entity Framework Core</dd>
            </dl>
        </article>

        <article aria-labelledby="job-hef-internal" itemscope itemtype="https://schema.org/EmployeeRole">
            <h2 id="job-hef-internal" class="text-2xl">Human-Etisk Forbund - internal system for managing ceremonies</h2>

            <p>
                <span>
                    <strong>Dates:</strong>
                    <time datetime="2021" itemprop="startDate">2021</time> - <time datetime="2023" itemprop="endDate">2023</time>
                </span>
                <br>
                <span>
                    <strong>Role:</strong>
                    <span itemprop="roleName">Full-stack developer</span>
                </span>
            </p>
            <dl>
                <dt>Core technologies</dt>
                <dd itemprop="skills">C#</dd>
                <dd itemprop="skills">Entity Framework Core</dd>
                <dd itemprop="skills">ASP.Net Core</dd>
                <dd itemprop="skills">TypeScript</dd>
                <dd itemprop="skills">KnockoutJS</dd>
            </dl>
        </article>

    </main>
</Layout>
