---
import Layout from "@/components/layouts/Layout.astro"
import CuriosList from "@/components/CuriosList.astro"
import RssFeedIcon from "@/icons/RssFeedIcon.astro";
---

<Layout metadata={{
    title: "Kenny's Curios | Kenny's Corner",
}}>
    <CuriosList class="col-content"/>
    <footer slot="footer" class="col-breakout grid h-12 grid-cols-subgrid items-center bg-stone-400 px-4">
        <a href="/curios/rss.xml" title="Open RSS Feed"><RssFeedIcon /></a>
        <pre class="text-primary col-[-1]">&lt;KC&#47;&gt;</pre>
    </footer>
</Layout>
