---
import ArticleList from "@/components/ArticleList.astro";
import Layout from "@/components/Layout.astro";
---

<Layout seo={{
    title: "Kenny's Corner",
    canonical: Astro.url,
}}>
    <main class="col-content prose py-4">
        <ArticleList class="col-content"/>
    </main>
</Layout>
