---
import { Icon } from "astro-icon/components";
import Layout from "@/components/Layout.astro";
---

<Layout seo={{
    title: "Page Not Found | Kenneth Hoff",
    description: "Oops! The page you were looking for wasn't found.",
}}>
    <main class="col-content py-4 w-full grid place-content-center text-center">
        <Icon
            role="img"
            aria-label="Animated compass spinning aimlessly, indicating 'lost'"
            class="inline-block mx-auto mb-8"
            name="line-md:compass-off-loop"
            size={240}
        />

        <h1 class="text-4xl font-bold mb-4">Page Not Found</h1>
        <p class="text-lg mb-6">
            Whoops! Looks like the page you're trying to reach got lost in the digital wilderness.
        </p>

        <nav aria-label="404 Navigation Options">
            <ul>
                <li>
                    <a href="/" class="text-primary hover:underline">Go back to the Homepage</a>
                </li>
            </ul>
        </nav>
    </main>
</Layout>
