@import "tailwindcss";

@theme {
    /* Disables all default breakpoints */
    --breakpoint-*: initial;

    /* These breakpoints are copy-pasted from Linea */
    --breakpoint-xs: 320px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    --color-*: initial;
    --color-base-100: oklch(14% 0.005 285.823);
    --color-base-200: oklch(21% 0.006 285.885);
    --color-base-300: oklch(27% 0.006 286.033);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(59% 0.249 0.584);
    --color-primary-content: oklch(97% 0.014 343.198);
    --color-secondary: oklch(64% 0.2 131.684);
    --color-secondary-content: oklch(98% 0.031 120.757);
    --color-accent: oklch(54% 0.245 262.881);
    --color-accent-content: oklch(97% 0.014 254.604);
    --color-neutral: oklch(27% 0.006 286.033);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(77% 0.152 181.912);
    --color-success-content: oklch(27% 0.046 192.524);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(71% 0.202 349.761);
    --color-error-content: oklch(28% 0.109 3.907);
}

/* 
* A custom variant that applies the same styling to :hover and :focus
* `group-hocus` etc.. also works
* */
@custom-variant hocus {
    &:hover,
    &:focus {
        @slot;
    }
}

@utility col-content {
    @apply col-[content];
}

@utility col-breakout {
    @apply col-[breakout];
}

@utility text-underline-under {
    text-underline-position: under;
}

@utility bg-top-center {
    background-position: top center;
}

:root {
    color: var(--color-base-content);
    --primary-grid-template-columns: [breakout-start] minmax(var(--primary-grid-additional-outer-padding), auto)
        [content-start] repeat(12, minmax(0, calc(120px - var(--primary-grid-column-gap)))) [content-end]
        minmax(var(--primary-grid-additional-outer-padding), auto) [breakout-end];

    --primary-grid-column-gap: 5vw;
    --primary-grid-outer-padding: 5vw;
    --primary-grid-additional-outer-padding: calc(var(--primary-grid-outer-padding) - var(--primary-grid-column-gap));

    @media screen and (width >= theme(--breakpoint-sm)) {
        --primary-grid-column-gap: --spacing(6);
        --primary-grid-outer-padding: --spacing(8);
    }

    @media screen and (width >= theme(--breakpoint-md)) {
    }

    @media screen and (width >= theme(--breakpoint-lg)) {
    }

    @media screen and (width >= theme(--breakpoint-xl)) {
        --primary-grid-column-gap: --spacing(8);
        --primary-grid-outer-padding: --spacing(16);
    }
}
