---
import "../global.css";
export interface Props {
  title: string;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <slot name="head-start" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/sitemap-index.xml" rel="sitemap" />

    <title>{title}</title>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    {description ? <meta content={description} name="description" /> : null}
    <slot name="head-meta" />

    <slot name="head-end" />
  </head>
  <body>
    <slot />
  </body>
</html>
